<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.perpustakaandigital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PerpustakaanDigital"
        tools:targetApi="m">
        <activity android:name=".screen.ReadBookActivity"></activity>
        <activity android:name=".screen.UlasanActivity" />
        <activity android:name=".screen.DetailNotifActivity" />
        <activity android:name=".screen.SearchResultActivity" />
        <activity android:name=".screen.DaftarHalamanActivity" />
        <activity android:name=".screen.AboutActivity" />
        <activity android:name=".screen.ProfileMemberActivity" />
        <activity android:name=".screen.RiwayatActivity" />
        <activity android:name=".screen.DetailActivity" />
        <activity android:name=".screen.RegisterActivity" />
        <activity
            android:name=".screen.LoginActivity"
            android:label="Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>